* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'arcade-font';
  src: url('visitor-font/visitor1.ttf');
}

body {
  background-color: #ffb6c1;
}

#column-left {
  width: 350px;
  text-align: center;
}

#game-title {
  font-family: 'arcade-font'; 
  font-size: 60px;
  float: left;
  position: relative;
    left: 70px;
}

#gameboard {
  width: 610px;
  height: 610px;
  margin: auto;
  border: solid 5px black;
}

.gamespace {
  width: 15px;
  height: 15px;
  border: solid 0.5px black;
  float: left;
  background-color: #9ABB0F;
}

#column-right {
  width: 350px;
  float: right;
}

.snake {
  width: 15px;
  height: 15px;
  border: solid 0.5px black;
  border-radius: 1px;
  background-color: black;
  float: left;
}


